# --- Operating System Files (Junk) ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# --- Editor & IDE Settings ---
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# --- Logs ---
*.log

# --- Local Environment ---
.env